/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

/* basic layout -- 2 columns */
.main {
	float: left;
	width: 580px;
}
.sidebar {
	margin-left: 600px;
	padding: 15px;
	background: #E9F5FE;
}

body {
	font-family: helvetica;
	width:800px;
	margin: 0 auto;
	background: #cde6ff;

}

.sidebar p {
	color: #b3977c;
}

.sidebar h2 {
	color:lightblue;
}

h1 {
    background: url('images/bg_body.png') no-repeat #cde6ff;
    color: #b3977c;
    font-size: 3em;
    font-weight: bold; 
    height: 61px;
    padding-top: 130px;
}

.mainbodyhead {
	background: url('images/bullet_flower.png') no-repeat #cde6ff;
	color: orange;
	padding:10px 0px 5px 60px;
	font-size: 2em;
	border-bottom: 3px solid white;
}

p.intro  {
	color: blue;
	padding: 10px;
}

 .mainbodytext {
	padding-left: 60px;
	padding-top: 10px;

}