
body{
	font-family: helvetica;
	color: #ff784b;
	text-align: left;
	width:800px;
	margin: 0 auto;
}

.headlines {
	
	color: #bd8100;
}

li {
	color: #bd8100;
}


.paratext {
	border-left: 1em solid #bd8100;
	padding-left: 5px;
}